@media (min-width: 400px) {
  .aboutme {
    @include flex();

    &__title {
      margin-top: 30px;
      font-size: $large;
      &:first-letter {
        color: $first-color;
      }
    }
    &__text {
      font-size: $medium;
      margin: 15px;
      span {
        color: $second-color;
      }
    }
    &__materials {
      width: 300px;
      @include flex(row);
      justify-content: space-between;
    }
    .materials__item {
      text-align: center;
      width: 100px;
      padding: 5px;
      border: 1px solid $second-color;
    }
  }
}
