$base-color: #2a313c;
$first-color: #e14646;
$second-color: #ffb821;
$font-base-color: #ffffff;
$font-second-color: #b7b7b7;

$font-base-size: 10;
$small: $font-base-size * 0.8px;
$medium: $font-base-size * 1.4px;
$large: $font-base-size * 2.2px;
$x-large: $font-base-size * 2.8px;
